<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/0a4608b12c.js" crossorigin="anonymous"></script>
</head>
<body class="body-login">
    <header class="header"> 
        <div class="contenedor">
            <div class="box1">
                <img src="/img/logo-mercado-liebre.svg" alt="logo">
            </div>
        <div class="box">
          <form class="barra-de-busqueda" action="/buscar" method="post">
            <div class="barra-junta"> 
                <input type="text" name="q" placeholder="Buscar productos, marcas...">
                <button type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
            </div>
           </form>
           <div class="comprita">
            <h3> <i class="fa-solid fa-hand-holding-dollar"></i> compra en cueotas y sin tarjeta de credito</h3>
        </div>
          </div>
        </div>
        <div class="compra">
            <h3> <i class="fa-solid fa-hand-holding-dollar"></i> compra en cueotas y sin tarjeta de credito</h3>
        </div>
        <div class="contenedor-a">
        <nav class="siteandlogin">
            <ul>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tienda">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>
        </nav>
        <nav class="siteandlogin">
            <ul>
                <li><a href="accede">Crea tu cuenta <i class="fa-regular fa-credit-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="/compras">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </div>
        </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
    </header>
    <main class="home-login">
        <form class="home-login-form" action="/views/login.html" method="post">
            <section class="home-login-section">
                <h1>Iniciar Sesion</h1>
                <div class="home-login-input">
                    <input class="input-entrada-login" type="text" name="usuario" placeholder="Nombre de usuario">
                    <input class="input-entrada-login" type="text" name="password" placeholder="contrasena">
                    <button class="button-submit-login" type="submit">Accede</button>
                </div>
            </section>
        </form>
    </main>
    <footer class="home-footer">
        <div class="articulos">
            <div class="tarjeta">>                <i class="fa-solid fa-credit-card"></i>
                <h4>● Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="tarjeta">
                <i class="fa-solid fa-gift"></i>
                <h4>● Envío gratis desde $2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="tarjeta">
                <i class="fa-solid fa-user-shield"></i>
                <h4>● Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </div>
        <div class="copyright">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>