<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/0a4608b12c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="header">
        <img src="/img/logo-mercado-liebre.svg" alt="logo" style="max-width: 238px; height: auto;">
        <form class="barra-de-busqueda" action="/buscar" method="GET">
            <input type="text" name="q" placeholder="Buscar productos, marcas">
            <button type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
          </form>
        <h3> <i class="fa-solid fa-hand-holding-dollar"></i> compra en cueotas y sin tarjeta de credito</h3>
        <nav class="siteandlogin">
            <ul>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tienda">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>
        </nav>
        <nav class="siteandlogin">
            <ul>
                <li><a href="accede">Crea tu cuenta <i class="fa-regular fa-credit-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="/compras">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
    </header>
</body>