.header{
    background-color: var(--paletadecolores-amarillo);
    font-family: var(--tipografia);
    font-size: var(--tamano-cuerpo);
    padding-bottom: 1px;
    padding-left: 16px;
}
.header h3 {
    text-align: center;
    margin-top: 20px;
}

.barra-de-busqueda input[type="text"] {
    width: 230px;
  }

.barra-de-busqueda button[type="submit"] {
    display: inline-block;
}

.burger-menu {
  background-color: blue;
  width: fit-content;
  margin: 20px auto 20px;
  padding: 10px;
  border-radius: 10px;
}

.burger-menu i {
  color: white;
  font-size: 20px;;
}

.header .siteandlogin{
  display: none;
}

@media (min-width:426px){
  .header .siteandlogin{
    display: block;
  }
  .header .burger-menu {
    display: none;
  }
}

@media (min-with: 769px){

}